* {
    margin: 0;
    padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main {
    height: 20vh;
}

.scoreboard {
    display: flex;
    padding: 20px;
    width: 50vw;
    height: 22vh;
    justify-content: space-between;
}

.scoreboard .score_card {
    margin: 15px;
}